<div class="wrapper-title">
  <div class="title-black-box">
    <h1>Pick your bike</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-7">
      <div class="row">

        <% @bikes.each do |bike| %>
        <div class="col-xs-12 col-sm-6">

          <div class="card">
            <%= image_tag get_bike_picture(bike), class: "card-image" %>
            <div class="card-price"> <%= "$ #{bike.price}" %>  </div>
            <hr>
            <div class="card-description">
              <h2> <%= "#{bike.gender.capitalize} #{bike.category} bike" %> </h2>
              <img class="card-user avatar" src="">
            </div>
            <%= link_to "", bike_path(bike), class: "card-link" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class = "col-xs-5" style = "background-color: #dedef8;
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris
      nisi ut aliquip ex ea commodo consequat.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor incididunt ut.</p>
      </div>

    </div>
  </div>


